<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://pullscription.github.io/ps-card-lookup-releases/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>MaPbOeJdiQybsRs1lCGnUkTm/7wmIzLw9pCr1Il8dlE=</string>
	<key>SuEnableDownloaderService</key>
	<true/>
</dict>
</plist>
